<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>European Tour</title>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">		
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#ffffff">		
		<!-- Bootstrap core CSS -->
		{{!-- <link rel="stylesheet" href="{{site.domain}}assets/css/bootstrap.min.css"> --}}
		<!-- Custom styles for this template -->
		<link href="{{site.domain}}assets/css/style.css" rel="stylesheet">
	</head>
<body class="senior-tour">