<div class="outer-container">


    <div class="container">
        <div class="row border-bottom">

            <!--Logo-->
            <div class="col-xs-12 col-sm-10">
                <div class="clearfix">
                    <a href="#" title="European Tour" class="logo icn-down-arrow">
                    </a>
                </div>


                <div class="">
                    <ul class="row">
                        <li class="col-xs-6 col-sm-2"><a href="" class="">Corporate news </a> </li>
                        <li class="col-xs-6 col-sm-2"><a href="" class=""> ET Performance Institute</a></li>
                        <li class="col-xs-6 col-sm-2"><a href="" class=""> Faqs</a></li>
                        <li class="col-xs-6 col-sm-2"><a href="" class=""> Media centre</a> </li>
                        <li class="col-xs-6 col-sm-2"><a href="" class=""> Green Drive</a> </li>
                        <li class="col-xs-6 col-sm-2"><a href="" class=""> Other sites</a> </li>
                        <li class="col-xs-6 col-sm-2"><a href="" class=""> Whistleblowing</a></li>
                        <li class="col-xs-6 col-sm-2"><a href="" class=""> Feedback</a> </li>
                        <li class="col-xs-6 col-sm-2"><a href="" class=""> Charity</a> </li>
                        <li class="col-xs-6 col-sm-2"><a href="" class=""> Contact</a> </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-2">
                <div class="border">
                    <ul class="row">
                        <li><a class="icon icn-facebook col-xs-3 col-sm-3" href="#"><em class="ac">facebook</em></a></li>
                        <li><a class="icon icn-instagram col-xs-3 col-sm-3" href="#"><em class="ac">instagram</em></a></li>
                        <li><a class="icon icn-twitter  col-xs-3 col-sm-3" href="#"><em class="ac">twitter</em></a></li>
                        <!--<li><a class="icon icn-tumblr" href="#"><em class="ac">tumblr</em></a></li>-->
                        <li><a class="icon icn-youtube  col-xs-3 col-sm-3" href="#"><em class="ac">youtube</em></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <ul class="move-left">
                    <li>Terms of use</li>
                    <li>Privacy Policy</li>
                    <li>Cookies</li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-6">
                <p>This website is © The PGA European Tour 1997 - 2016. PGA European Tour, Wentworth Drive, Virginia Water,
                    Surrey, GU25 4LX. Registered in England No. 1867610.</p>
            </div>
        </div>
    </div>
    </footer