<footer>
    <div class="well">
        <div class="row">
            <div class="row">
                <!--Logo-->
                <a href="#" title="European Tour" class="logo icn-down-arrow">
                </a>
            </div>

            <div>
                <ul class="footer--links">
                    <li><a href="" class="">Corporate news </a> </li>
                    <li><a href="" class=""> ET Performance Institute</a></li>
                    <li><a href="" class=""> Faqs</a></li>
                    <li><a href="" class=""> Media centre</a> </li>
                    <li><a href="" class=""> Green Drive</a> </li>
                    <li><a href="" class=""> Other sites</a> </li>
                    <li><a href="" class=""> Whistleblowing</a></li>
                    <li><a href="" class=""> Feedback</a> </li>
                    <li><a href="" class=""> Charity</a> </li>
                    <li><a href="" class=""> Contact</a> </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a class="icon icn-facebook" href="#"><em class="ac">facebook</em></a></li>
                    <li><a class="icon icn-instagram" href="#"><em class="ac">instagram</em></a></li>
                    <li><a class="icon icn-twitter" href="#"><em class="ac">twitter</em></a></li>
                    <li><a class="icon icn-tumblr" href="#"><em class="ac">tumblr</em></a></li>
                    <li><a class="icon icn-youtube" href="#"><em class="ac">youtube</em></a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Terms of use</li>
                    <li>Privacy Policy</li>
                    <li>Cookies</li>
                </ul>
            </div>
            <p>This website is © The PGA European Tour 1997 - 2016. PGA European Tour, Wentworth Drive, Virginia Water, Surrey,
                GU25 4LX. Registered in England No. 1867610.</p>

        </div>
    </div>
    </footer