<header class="mod-header">
	<div class="top-nav">
		<div class="container">	

			<div class="nav-overlay-top"></div>	

			<!--Logo-->			
			<a href="#" title="European Tour" class="logo icn-down-arrow">
				<em class="ac">European Tour</em>
			</a>
			<ul class="sub-brands">
				<li><a class="senior-tour" href="#">Senior Tour</a></li>
				<li><a class="challenge-tour" href="#">Challenge Tour</a></li>
				<li><a class="super-six" href="#">Super Six</a></li>
			</ul>
			

			<ul class="tools">
				<li>
					<a href="#" title="Search" class="icn-search search-cta">
						<em class="ac">Search</em>
					</a>

					<!--Header search -->
					<form action="#" class="search-bar">
						<div class="container">
							<a href="#" title="search button" class="icn-magnifier">
								<em class="ac">Search button</em>
							</a>
							<label for="header-search"><em class="ac">Search</em></label>
							<input id="header-search" type="text" placeholder="Search">
							<a class="clear icn-close" title="clear" href="#"></a>
						</div>						
					</form>
				</li>
				<li>
					<a href="#" class="icn-burger burger-menu">
						<em class="ac">Menu</em>
					</a>
					<nav class="mob-nav-links">
						<ul class="main-nav">
							<li><a href="#">Race to Dubai</a></li>
							<li><a class="active" href="#">Players</a></li>
							<li><a href="#">Rolex Series</a></li>
							<li><a href="#">Tournaments</a></li>
							<li><a href="#">Ryders Cup</a></li>
							<li><a href="#">Q-School</a></li>
						</ul>
						<ul class="links">
							<li><a class="icn-ticket" href="#">Tickets</a></li>
							<li><a class="icn-travel" href="#">Travel</a></li>
							<li><a class="icn-home" href="#">Properties</a></li>
							<li><a class="icn-cart" href="#">Shop</a></li>
							<li><a class="icn-flag" href="#">Daily Fantasy</a></li>
						</ul>
						<div class="bottom-row">
							<a href="#" class="sign-in-cta btn-r">Sign in</a>

							<ul class="language-sel">
								<li><a href="#">ESP <img src="assets/img/esp-flag.png" alt="ESP"></a></li>
								<li><a href="#">FRA <img src="assets/img/fra-flag.png" alt="FRA"></a></li>
								<li><a href="#">DEU <img src="assets/img/deu-flag.png" alt="DEU"></a></li>
								<li class="last"><a href="#">GBR <img src="assets/img/uk-flag.png" alt="UK"></a></li>
							</ul>							
						</div>
						<div class="nav-overlay"></div>
					</nav>
				</li>				
			</ul>

		</div>
	</div>
</header>
