.outer-container {
  background-color: $color-black;
}

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  color: $color-white;
}

.logo {
  background: url('../img/logo-white.svg') no-repeat;
  display: block;
  width: 165px;
  height: 28px;
}

.border {
  border-top: solid 1px $color-white;
}
.border-bottom{
	border-bottom: solid 1px $color-white;
}
.move-left li{
	display:inline-block;
	padding-right:10px;
}

@media #{$small-up} {
  .border {
    border-top: solid 0px $color-white;
  }
}
a{
  color: $color-white;
}

